.doge {
  width: 320px;
  margin: 0 auto;
  padding: 16px;
}

.title {
  text-align: center;
}

.form {
  display: block;

  &Item {
    margin-bottom: 8px;
    font-size: var(--font-size-sm);
  }
}

.label {
  display: flex;
  padding: 4px 0;
}

.submit {
  color: var(--color-link);

  &:hover {
    text-decoration: underline;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
